html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
@import url("font/fontbell.tff");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

body {
  font-family: "Avenir Next";
}
.header-navbar p{
  list-style: none;
  float: left;
  padding: 33px 20px;
  color: #fff;
 
  
}

.header {
  /*  */
  background-color: #26d097;
  height: 90px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 5%;
  justify-content: space-between;
  

}


.main{
  padding: 100px 80px;
}

.header-navbar{
  background-color: #26d0c9;
  display: flex;
  gap: 30px;
  font-size: 20px;
  border-bottom: rgba(14, 13, 13, 0.2) solid;
  border-radius: 25px;
}
.header-logo {
  color: #fff;
  float: left;
  font-size : 36px;
  padding: 20px 40px;
}

.container h1 {
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}

.container h2{
  font-size: 50px; 
  font-family: 'Roboto', sans-serif;
 }

 .contents {
  height: 500px;
  margin-top: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.tanaman-title {
  border-bottom: 3px solid #6ce07e;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.contents-item {
  margin: 30px;
  background-color: aquamarine;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
  
.contents p {
  text-align: center

}
 

.contents-item img{
  width: 200px;
  height : 250px;

}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
  color: #fff;
}


.footer{
  background-color:#2f5167;
  color: #fff;
  height:120px;
  padding: 40px;
  align-items: bottom;
}
.footer-logo{
  font-size:32px;
  float: left;
}
.footer-list{
  float: right;
}
.footer-list li{
  padding-bottom: 20px;
  color:rgb(255, 255, 255);
}

.about:hover{
color: red;
}

.about:link{
  text-decoration: none;
  text-decoration-color:  rgb(255, 255, 255);   
}
.about:active{
color: green;
}
.about:visited{
background: yellow;
}

/*untuk layar device berukuran kecil*/
@media screen and (max-width: 750px) {
  .header-navbar {
    padding: 20px, 7px;
    display: flex;
    gap: 5px;
    font-size: 8px;
    border-bottom: rgba(14, 13, 13, 0.2) solid;
  }

  .header-logo{
    font-size: 18px;
    padding: 10px 20px;
    float: left;
  }

  .container h1 {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
  }
  
  .container h2{
    font-size: 25px; 
    font-family: 'Roboto', sans-serif;
   }
  
   .contents {
    height: 900px;
    margin-top: 100px;
  }
  
  .tanaman-title {
    border-bottom: 3px solid #6ce07e;
    font-size: 14px;
    padding-bottom: 7px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  
  }
  .contents-item {
    margin: 15px;
    background-color: aquamarine;
    height: 200px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
    
  .contents p {
    text-align: center
  
  }
   
  
  .contents-item img{
    width: 100px;
    height : 150px;
  }

  footer {
    text-align: center;
  }

  .footer-logo {
    font-size: 16px;
    float: left;
  }

  .footer-list{
    float: right;
  }
  .footer-list li{
    padding-bottom: 5px;
    color:rgb(255, 255, 255);
  }
}


